---
import Carousel from "./Carousel.astro";
---

<section
    id="testimonials"
	class="relative overflow-hidden w-full min-h-[100vh] bg-[url('/image/tes.webp')] bg-cover bg-no-repeat"
>
	<div class="flex flex-col items-center justify-center mt-20">
		<span class="text-[50px] text-white">TESTIMONIALS</span>
		<Carousel />
	</div>
</section>
